section.step-brief-1 {
  padding: 65px 0;

  .container {
    width: 915px;
    padding: 0;

    .step-head-hor {
      display: flex;
      justify-content: space-between;
      margin-bottom: 64px;

      .left {
        display: flex;
        align-items: center;

        .ico {
          margin-right: 24px;
          background-image: url(/app/img/step-brief-1/brief.svg);
          background-size: 46px 50px;
          background-repeat: no-repeat;
          background-position: center;
        }

        .about {
          .title {
            margin-bottom: 13px;
            font: 32px 'MONM';
          }

          .subtitle {
            font: 16px 'MONR';
            color: #7D7978;
          }
        }
      }
    }

    .question {
      margin-bottom: 32px;
      border-radius: 8px;
      padding: 30px 32px;
      background-color: #FAF7F6;

      .question-name {
        margin-bottom: 28px;
        font: 22px 'MONM';
      }

      .question-subname {
        margin: -21px 0 31px;
        font: 13px 'MONR';
        color: #7D7978;
      }


      input[type=text] {
        border: 1px solid #D3CAC3;
        border-radius: 8px;
        height: 49px;
        padding: 2px 0 0 14px;
        font: 16px 'MONM';

        &:focus {
          border: 1px solid #FF7300;
        }
      }

      .btns-yes-no {
        button {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #D3CAC3;
          border-radius: 8px;
          width: 95px;
          height: 49px;
          font: 16px 'MONM';
          background-color: #fff;
          cursor: pointer;

          &.active {
            border: 2px solid #FF7300;
            background-color: #FFE6D1;
          }

          &:first-child {
            margin-right: 10px;
          }
        }
      }

      .checkboxes-img {
        display: flex;
        flex-flow: row wrap;

        .checkbox-item {
          display: inline-flex;
          flex: calc((100% - 20px) / 3) 0 0;
          margin-bottom: 32px;

          &:not(:nth-child(3n + 3)) {
            margin-right: 10px;
          }

          input[type='checkbox'] {
            display: none;
          }

          label {
            display: flex;
            flex-direction: column;
            position: relative;
            border: 1px solid #D3CAC3;
            border-radius: 5px;
            padding: 9px 9px 0 9px;
            width: 100%;
            height: 180px;
            background-color: #fff;
            cursor: pointer;

            img {
              display: block;
              margin-bottom: 16px;
              width: 100%;
              height: 122px;
              object-fit: cover;
              object-position: center;
              border-radius: 8px;
              overflow: hidden;
            }

            .name {
              position: relative;
              padding-left: 31px;
              font: 16px/18px 'MONM';

              &::after {
                content: '';
                display: block;
                position: absolute;
                box-sizing: border-box;
                top: 0;
                left: 6px;
                border: 1px solid #D3CAC3;
                border-radius: 4px;
                width: 16px;
                height: 16px;
              }
            }

            &.designer {
              padding-top: 99px;
              background-image: url('/app/img/step-brief-1/designer_consult.svg');
              background-size: 41px 40px;
              background-repeat: no-repeat;
              background-position: center top 35px;

              .name {
                display: flex;
                justify-content: center;
                text-align: center;
                padding: 0;

                &::after {
                  top: 48px;
                  left: calc(50% - 8px);
                }
              }
            }

            &.disabled {
              opacity: 0.4;
              cursor: default;
            }
          }

          input[type='checkbox']:checked ~ label,
          input[type='checkbox'][checked='checked'] ~ label {
            &::after {
              content: '';
              display: block;
              position: absolute;
              top: -1px;
              left: -1px;
              right: -1px;
              bottom: -1px;
              border: 2px solid #FF7300;
              border-radius: 5px;
            }

            .name::after {
              border: 1px solid #FF7300;
              background-color: #FF7300;
              background-image: url('/app/img/step-brief-1/check.svg');
              background-size: 8px 5px;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
      }

      .add-item {
        display: flex;
        align-items: center;
        height: 22px;
        padding-left: 29px;
        font: 16px 'MONM';
        background-image: url('/app/img/step-brief-1/plus.svg');
        background-size: 22px;
        background-repeat: no-repeat;
        background-position: left center;
      }

      textarea {
        border: 1px solid #D3CAC3;
        border-radius: 5px;
        padding: 12px 16px;
        width: 100%;
        height: 80px;
        font: 16px/24px 'MONR';
      }

      .add-files {
        display: flex;
        margin-top: 25px;

        .input-field {
          margin-right: 31px;

          input {
            opacity: 0;
            visibility: hidden;
            position: absolute;
          }

          .add {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 16px;
            padding-left: 61px;
            border: 1.5px solid #3A3029;
            border-radius: 20px;
            height: 40px;
            padding: 0 36px 0 61px;
            background-image: url('/app/img/step-1/upload-bold.svg');
            background-size: 24px;
            background-repeat: no-repeat;
            background-position: left 31px center;
            font: 13px 'MONR';
            white-space: nowrap;
            cursor: pointer;
          }
        }

        .samples {
          display: flex;
          flex-flow: row wrap;

          .sample {
            position: relative;
            flex: 90px 0 0;
            height: 90px;
            margin-right: 16px;
            margin-bottom: 16px;

            img {
              display: block;
              border-radius: 7px;
              width: 100%;
              height: 100%;
              overflow: hidden;
              object-fit: cover;
              object-position: center;
            }

            .del {
              position: absolute;
              top: 5px;
              right: 5px;
              width: 20px;
              height: 20px;
              background-color: transparent;
              background-image: url('/app/img/step-brief-1/remove.svg');
              cursor: pointer;
            }
          }
        }
      }

    }

    .question-furniture {
      .room {
        margin-bottom: 20px;

        .select-room {
          span.select-room-title {
            display: block;
            margin-bottom: 10px;
            font: 16px 'MONM';
          }

          select {
            height: 49px;
          }

          .select2-container {
            margin-bottom: 32px;
            width: 280px !important;

            .select2-selection {
              height: 49px;
              border: 1.5px solid #D8D6D4;
              border-radius: 4px;

              .select2-selection__rendered {
                padding-left: 22px !important;
                font: 14px/45px 'MONM';

                span {
                  margin-left: 17px;
                  font: 14px 'MUSR';
                  color: #aaa;
                }
              }

              .select2-selection__arrow {
                position: absolute;
                top: 0;
                right: 0;
                height: 49px;
                padding: 0 36px;
                background-image: url('/app/img/shared/select-arrow.svg');
                background-size: 14px 8px;
                background-position: center;
                background-repeat: no-repeat;

                b {
                  display: none;
                }
              }
            }
          }
        }

        .furniture-checkboxes {
          display: flex;
          flex-flow: row wrap;

          .furniture-item {
            display: inline-flex;
            flex: calc((100% - 20px) / 3) 0 0;
            margin-bottom: 10px;

            &:not(:nth-child(3n + 3)) {
              margin-right: 10px;
            }

            input[type='checkbox'] {
              display: none;
            }

            label {
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #D3CAC3;
              border-radius: 8px;
              width: 100%;
              height: 49px;
              font: 16px/18px 'MONM';
              text-align: center;
              background-color: #fff;
              cursor: pointer;
            }

            input[type='checkbox']:checked ~ label,
            input[type='checkbox'][checked='checked'] ~ label {
              border: 2px solid #FF7300;
              background: #FFE6D1;
            }
          }
        }
      }

      textarea {
        margin-top: 31px;
      }
    }

    .question-number-people {
      input[type=text] {
        width: 129px;
      }
    }

    .question-children {
      .childrens {
        margin-top: 24px;

        .children {
          display: flex;
          align-items: center;
          margin-bottom: 23px;

          .children-inner {
            display: flex;
            align-items: center;
            margin-right: 16px;
            border: 1px solid #D3CAC3;
            padding: 0 31px;
            background-color: #fff;
            border-radius: 4px;
            height: 60px;

            input[type='radio'] {
              display: none;
            }

            label {
              display: inline-flex;
              align-items: center;
              position: relative;
              margin-right: 32px;
              padding-left: 23px;
              font: 16px 'MONM';
              cursor: pointer;

              &::after {
                content: '';
                display: block;
                position: absolute;
                top: 1px;
                left: 0;
                border-radius: 50%;
                width: 16px;
                height: 16px;
                border: 1.5px solid #D8D6D4;
                box-sizing: border-box;
              }
            }

            input[type='radio'][checked='checked'] + label,
            input[type='radio']:checked + label {
              &::after {
                border: 4px solid #FF7300;
              }

            }

            input[type='text'] {
              margin-right: 9px;
              border-radius: 5px;
              width: 100px;
              height: 40px;
            }
          }

          .remove {
            flex: 20px 0 0;
            height: 20px;
            border: none;
            background-color: transparent;
            background-image: url('/app/img/step-brief-1/remove.svg');
            cursor: pointer;
          }
        }
      }
    }
  }
}
