<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="app/css/shared/global.css" />
    <link rel="stylesheet" href="app/css/shared/header.css" />
    <link rel="stylesheet" href="app/css/shared/timeline.css" />
    <link rel="stylesheet" href="app/css/shared/footer.css" />
    <link rel="stylesheet" href="app/css/step-1.css" />
    <link rel="stylesheet" href="app/css/step-wait.css" />
    <link rel="stylesheet" href="app/css/steps.css" />
    <link rel="stylesheet" href="app/css/step-brief-1.css" />
    <link rel="stylesheet" href="app/css/shared/tmp.css" />
    <link
      rel="stylesheet"
      href="app/js/tooltipster/tooltipster-sideTip-shadow.min.css"
    />
    <link rel="stylesheet" href="app/js/tooltipster/tooltipster.bundle.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <!-- <script src="app/js/app.js"></script> -->
    <script src="app/js/main.js"></script>
    <script src="app/js/ng.js"></script>
    <script src="app/js/step1.js"></script>
    <script src="app/js/brief-1.js"></script>
    <script src="app/js/tooltipster/tooltipster.bundle.js"></script>

    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="left">
          <a href="/" class="logo"></a>
          <a class="statement was-updated" href="/client/statement"
            >Шопинг-лист (ведомость)</a
          >
        </div>
        <div class="right">
          <div class="users">
            <div class="user">
              <div class="user-main">
                <div class="avatar">
                  <img src="https://loremflickr.com/45/45" />
                </div>
                <div class="name">Шестопалова Ирина ф<span>Дизайнер</span></div>
              </div>
              <div class="user-ext">
                <span>i.shestopalova@rerooms.ru</span>
                <span>+7 (903) 107-9091</span>
              </div>
            </div>
            <div class="user">
              <div class="user-main">
                <div class="avatar">
                  <img src="https://loremflickr.com/45/45" />
                </div>
                <div class="name">
                  Иван Иванов
                  <span>Вы</span>
                </div>
              </div>
              <div class="user-ext user-me-ext">
                <a class="profile-btn" href="/">Настройки профиля</a>
                <a class="profile-btn" href="/" target="_blank"
                  >Договор оферты</a
                >
                <a class="profile-btn" href="/">История</a>
                <a class="profile-btn was-updated" href="/"
                  >Шопинг-лист (ведомость)</a
                >
                <a class="profile-btn" href="/">Выход</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="content">
      <section class="timeline">
        <div class="container">
          <div class="inner">
            <ul class="ul-timeline" id="timeline">
              <li class="li active">
                <div class="stage">
                  <a href="/">Этап 1</a>
                </div>
                <div class="title">
                  <a href="/">Бриф 1</a>
                </div>
              </li>
              <li class="li">
                <div class="stage">
                  <a href="/">Этап 2</a>
                </div>
                <div class="title">
                  <a href="/">Бюджет</a>
                </div>
              </li>
              <li class="li">
                <div class="stage">
                  <a href="/">Этап 3</a>
                </div>
                <div class="title">
                  <a href="/">Бриф 2</a>
                </div>
              </li>
              <li class="li">
                <div class="stage">
                  <a href="/">Этап 4</a>
                </div>
                <div class="title">
                  <a href="/">Концепция</a>
                </div>
              </li>
              <li class="li">
                <div class="stage">
                  <a href="/">Этап 5</a>
                </div>
                <div class="title">
                  <a href="/">Финальный дизайн-проект</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="deadlines">
        <div class="container">
          <div class="left">
            <div class="items">
              <div class="item">
                <div class="item-main">
                  Дата окончания проекта:<span>15 июня 2022 г.</span>
                </div>
              </div>
              <div class="item dd">
                <div class="item-main arrow">
                  Object:<span>3-room flat</span>
                </div>
                <div class="item-ext">
                  <a href="/">Объект №23423</a>
                  <a href="/">Объект №23423</a>
                  <a href="/">Объект №23423</a>
                </div>
              </div>
            </div>
          </div>
          <div class="right">
            <div class="items">
              <div class="item">
                <div class="item-main">
                  Your shopping assistant for discounted goods<span
                    >+7 (499) 288-21-24</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="step-brief-1" ng-controller="BriefCtrl" ng-init="init()">
        <div class="container">
          <div class="step-head step-head-hor">
            <div class="left">
              <div class="ico"></div>
              <div class="about">
                <div class="title">Fill the brief below</div>
                <div class="subtitle">Personal information</div>
              </div>
            </div>
          </div>
          <div class="question question-furniture">
            <div class="question-name">
              {{questions[0].id + 1}}. {{questions[0].name}}
            </div>

            <div
              class="room"
              ng-repeat="room in questions[0].rooms"
              ng-init="parentIndex = $index"
            >
              <input
                type="hidden"
                ng-model="questions[0].rooms[$index].id"
                value="{{$index}}"
              />
              <div class="select-room">
                <span class="select-room-title">Select the room</span>
                <select
                  class="select2"
                  ng-model="questions[0].rooms[$index].roomType"
                  ng-options="room.id as room.name for room in rooms"
                ></select>
              </div>

              <div class="simple-checkboxes">
                <div class="checkbox-item" ng-repeat="furniture in furnitures">
                  <input
                    type="checkbox"
                    id="furnitures_{{parentIndex}}_{{$index}}"
                    ng-model="questions[0].rooms[parentIndex].furnitures[$index]"
                  />
                  <label for="furnitures_{{parentIndex}}_{{$index}}"
                    >{{furniture.name}}</label
                  >
                  <!-- {{questions[0].rooms[$parentIndex].furnitures[$index]}} -->
                </div>
              </div>

              <button
                ng-if="questions[0].rooms.length > 1"
                ng-click="removeRoom(room.id)"
              >
                del
              </button>
            </div>
            <a class="add-item" ng-click="addRoom()">Add</a>

            <textarea
              placeholder="Comments (optional)"
              ng-model="questions[0].comment"
            ></textarea>
          </div>

          <div class="question question-number-people">
            <div class="question-name">
              {{questions[1].id + 1}}. {{questions[1].name}}
            </div>
            <input
              type="text"
              class="number-people"
              ng-model="questions[1].number_people"
            />
          </div>

          <div class="question question-children">
            <div class="question-name">
              {{questions[2].id + 1}}. {{questions[2].name}}
            </div>

            <div class="btns-yes-no">
              <button
                ng-class="questions[2].val == 1 && 'active'"
                ng-click="setChildren(1)"
              >
                Yes
              </button>
              <button
                ng-class="questions[2].val == 0 && 'active'"
                ng-click="setChildren(0)"
              >
                No
              </button>
            </div>

            <div class="childrens" ng-if="questions[2].val == 1">
              <div
                class="children"
                ng-repeat="children in questions[2].childrens track by $index"
              >
                <div class="children-inner">
                  <input
                    id="children_{{$index}}_radio_sex_m"
                    type="radio"
                    ng-model="questions[2].childrens[$index].sex"
                    value="m"
                  />
                  <label for="children_{{$index}}_radio_sex_m">Boy</label>
                  <input
                    id="children_{{$index}}_radio_sex_f"
                    type="radio"
                    ng-model="questions[2].childrens[$index].sex"
                    value="f"
                  />
                  <label for="children_{{$index}}_radio_sex_f">Girl</label>
                  <input
                    type="text"
                    ng-model="questions[2].childrens[$index].y"
                  />
                  y
                </div>

                <button
                  class="remove"
                  ng-click="removeChildren(children.id)"
                ></button>
              </div>

              <a class="add-item" ng-click="addChildren()">Add</a>
            </div>
          </div>

          <div class="question question-styles">
            <div class="question-name">
              {{questions[3].id + 1}}. {{questions[3].name}}
            </div>
            <div class="question-subname">{{questions[3].subname}}</div>

            <div class="checkboxes-img">
              <div
                class="checkbox-item"
                ng-repeat="style in styles track by $index"
              >
                <input
                  id="checkbox-style-{{$index}}"
                  type="checkbox"
                  ng-model="questions[3].styles[$index]"
                  ng-disabled="disabledWhen3Items(questions[3].styles) && !questions[3].styles[$index]"
                  ng-change="checkDesigner(questions[3].styles)"
                />
                <label
                  ng-class="{'designer': ($index == 0), 'disabled': (disabledWhen3Items(questions[3].styles) && !questions[3].styles[$index])}"
                  for="checkbox-style-{{$index}}"
                >
                  <img
                    ng-if="$index > 0"
                    ng-src="/app/img/step-brief-1/styles/{{styles[$index].img}}"
                  />
                  <div class="name">{{styles[$index].name}}</div>
                </label>
              </div>
            </div>
            <textarea
              placeholder="Comments (optional)"
              ng-model="questions[3].comment"
            ></textarea>

            <div class="add-files">
              <div class="input-field">
                <input
                  id="input-file-styles"
                  type="file"
                  ng-file-model="files_styles"
                  filetype="files_styles"
                  errors="files_styles_errors"
                  multiple
                />
                <label class="add" for="input-file-styles"
                  >Upload samples
                </label>
              </div>
              <div class="samples">
                <div class="sample" ng-repeat="file in files.files_styles">
                  <img ng-src="{{file.url}}" ng-show="file != null" />
                  <div
                    class="del"
                    ng-show="file != null"
                    ng-click="removeFile('files_styles', $index)"
                  ></div>
                </div>
              </div>
            </div>
          </div>

          <div class="question question-colors">
            <div class="question-name">
              {{questions[4].id + 1}}. {{questions[4].name}}
            </div>

            <div class="checkboxes-img">
              <div
                class="checkbox-item"
                ng-repeat="color in colors track by $index"
              >
                <input
                  id="checkbox-color-{{$index}}"
                  type="checkbox"
                  ng-model="questions[4].colors[$index]"
                  ng-disabled="disabledWhen3Items(questions[4].colors) && !questions[4].colors[$index]"
                  ng-change="checkDesigner(questions[4].colors)"
                />
                <label
                  ng-class="{'designer': ($index == 0), 'disabled': (disabledWhen3Items(questions[4].colors) && !questions[4].colors[$index])}"
                  for="checkbox-color-{{$index}}"
                >
                  <img
                    ng-if="$index > 0"
                    ng-src="/app/img/step-brief-1/colors/{{colors[$index].img}}"
                  />
                  <div class="name">{{colors[$index].name}}</div>
                </label>
              </div>
            </div>
            <textarea
              placeholder="Comments (optional)"
              ng-model="questions[4].comment"
            ></textarea>

            <div class="add-files">
              <div class="input-field">
                <input
                  id="input-file-colors"
                  type="file"
                  ng-file-model="files_colors"
                  filetype="files_colors"
                  errors="files_colors_errors"
                  multiple
                />
                <label class="add" for="input-file-colors"
                  >Upload samples
                </label>
              </div>
              <div class="samples">
                <div class="sample" ng-repeat="file in files.files_colors">
                  <img ng-src="{{file.url}}" ng-show="file != null" />
                  <div
                    class="del"
                    ng-show="file != null"
                    ng-click="removeFile('files_colors', $index)"
                  ></div>
                </div>
              </div>
            </div>
          </div>

          <div class="question question-things-dont-like">
            <div class="question-name">
              {{questions[5].id + 1}}. {{questions[5].name}}
            </div>

            <div class="simple-checkboxes">
              <div class="checkbox-item" ng-repeat="thing in things_dont_like">
                <input
                  type="checkbox"
                  id="thing_{{$index}}"
                  ng-model="questions[5].things[$index]"
                />
                <label for="thing_{{$index}}">{{thing.name}}</label>
              </div>
            </div>
            <div class="comment-name">Other</div>
            <textarea
              placeholder="Comments"
              ng-model="questions[5].comment"
            ></textarea>
          </div>

          <div class="question question-other-things">
            <div class="question-name">
              {{questions[6].id + 1}}. {{questions[6].name}}
            </div>

            <div class="btns-yes-no">
              <button
                ng-class="questions[6].val == 1 && 'active'"
                ng-click="questions[6].val = 1"
              >
                Yes
              </button>
              <button
                ng-class="questions[6].val == 0 && 'active'"
                ng-click="questions[6].val = 0"
              >
                No
              </button>
            </div>

            <div class="comment-name red">Obligatory</div>
            <textarea
              placeholder="Comments"
              ng-model="questions[6].comment"
            ></textarea>
          </div>

          <div class="question question-premises">
            <div class="question-name">
              {{questions[7].id + 1}}. {{questions[7].name}}
            </div>

            <div class="simple-checkboxes">
              <div class="checkbox-item" ng-repeat="premise in premises">
                <input
                  type="checkbox"
                  id="premise_{{$index}}"
                  ng-model="questions[7].premises[$index]"
                />
                <label for="premise_{{$index}}">{{premise.name}}</label>
              </div>
            </div>
            <div class="comment-name">Other</div>
            <textarea
              placeholder="Comments (optional)"
              ng-model="questions[7].comment"
            ></textarea>
          </div>

          <div class="question question-pets">
            <div class="question-name">
              {{questions[8].id + 1}}. {{questions[8].name}}
            </div>

            <div class="simple-checkboxes">
              <div class="checkbox-item" ng-repeat="pet in pets">
                <input
                  type="checkbox"
                  id="pet_{{$index}}"
                  ng-model="questions[8].pets[$index]"
                />
                <label for="pet_{{$index}}">{{pet.name}}</label>
              </div>
            </div>
            <div class="comment-name">Other</div>
            <textarea
              placeholder="Comments (optional)"
              ng-model="questions[8].comment"
            ></textarea>

            <div class="add-files">
              <div class="input-field">
                <input
                  id="input-file-pets"
                  type="file"
                  ng-file-model="files_pets"
                  filetype="files_pets"
                  errors="files_pets_errors"
                  multiple
                />
                <label class="add" for="input-file-pets">Upload samples </label>
              </div>
              <div class="samples">
                <div class="sample" ng-repeat="file in files.files_pets">
                  <img ng-src="{{file.url}}" ng-show="file != null" />
                  <div
                    class="del"
                    ng-show="file != null"
                    ng-click="removeFile('files_pets', $index)"
                  ></div>
                </div>
              </div>
            </div>
          </div>

          <div class="question question-hobbies">
            <div class="question-name">
              {{questions[9].id + 1}}. {{questions[9].name}}
            </div>

            <div class="btns-yes-no">
              <button
                ng-class="questions[9].val == 1 && 'active'"
                ng-click="questions[9].val = 1"
              >
                Yes
              </button>
              <button
                ng-class="questions[9].val == 0 && 'active'"
                ng-click="questions[9].val = 0"
              >
                No
              </button>
            </div>

            <textarea
              class="margin-top"
              placeholder="Comments"
              ng-model="questions[9].comment"
            ></textarea>
          </div>

          <div class="question question-furniture-inc">
            <div class="question-name">
              {{questions[10].id + 1}}. {{questions[10].name}}
            </div>

            <div class="btns-yes-no">
              <button
                ng-class="questions[10].val == 1 && 'active'"
                ng-click="questions[10].val = 1"
              >
                Yes
              </button>
              <button
                ng-class="questions[10].val == 0 && 'active'"
                ng-click="questions[10].val = 0"
              >
                No
              </button>
            </div>

            <textarea
              class="margin-top"
              placeholder="Comments"
              ng-model="questions[10].comment"
            ></textarea>

            <div class="upload-desc">
              Upload item photo with dimensions that you would like to keep or
              add.
            </div>

            <div class="add-files">
              <div class="input-field">
                <input
                  id="input-file-furnituresinc"
                  type="file"
                  ng-file-model="files_furnituresinc"
                  filetype="files_furnituresinc"
                  errors="files_furnituresinc_errors"
                  multiple
                />
                <label class="add" for="input-file-furnituresinc"
                  >Upload samples
                </label>
              </div>
              <div class="samples">
                <div
                  class="sample"
                  ng-repeat="file in files.files_furnituresinc"
                >
                  <img ng-src="{{file.url}}" ng-show="file != null" />
                  <div
                    class="del"
                    ng-show="file != null"
                    ng-click="removeFile('files_furnituresinc', $index)"
                  ></div>
                </div>
              </div>
            </div>
          </div>

          <div class="question question-channels">
            <div class="question-name">
              {{questions[11].id + 1}}. {{questions[11].name}}
            </div>

            <div class="simple-checkboxes">
              <div class="checkbox-item" ng-repeat="channel in channels">
                <input
                  type="checkbox"
                  id="channel_{{$index}}"
                  ng-model="questions[11].channels[$index]"
                />
                <label for="channel_{{$index}}">{{channel.name}}</label>
              </div>
            </div>
            <div class="comment-name">I prefer other channels</div>
            <textarea
              placeholder="Comments (optional)"
              ng-model="questions[11].comment"
            ></textarea>
          </div>

          <div class="question question-email">
            <div class="question-name">
              {{questions[12].id + 1}}. {{questions[12].name}}
            </div>

            <input type="text" ng-model="questions[12].val" />
          </div>

          <div class="question question-phone">
            <div class="question-name">
              {{questions[13].id + 1}}. {{questions[13].name}}
            </div>

            <input type="text" ng-model="questions[13].val" />
          </div>

          <div class="question question-budget">
            <div class="question-name">
              {{questions[14].id + 1}}. {{questions[14].name}}
            </div>
            <div class="question-subname">{{questions[14].subname}}</div>

            <div class="simple-radios">
              <div class="radio-item" ng-repeat="budget in budgets">
                <input
                  type="radio"
                  name="budget"
                  id="budget_{{$index}}"
                  ng-model="questions[14].val"
                  ng-value="budget.id"
                />
                <label for="budget_{{$index}}">{{budget.name}}</label>
              </div>
            </div>
            <textarea
              placeholder="Comments (optional)"
              ng-model="questions[14].comment"
            ></textarea>
          </div>

          <div class="question question-furniture-inc">
            <div class="question-name">
              {{questions[15].id + 1}}. {{questions[15].name}}
            </div>
            <div class="question-subname">{{questions[15].subname}}</div>

            <textarea
              placeholder="Comments"
              ng-model="questions[15].comment"
            ></textarea>

            <div class="add-files">
              <div class="input-field">
                <input
                  id="input-file-interior"
                  type="file"
                  ng-file-model="files_interior"
                  filetype="files_interior"
                  errors="files_interior_errors"
                  multiple
                />
                <label class="add" for="input-file-interior"
                  >Upload samples
                </label>
              </div>
              <div class="samples">
                <div class="sample" ng-repeat="file in files.files_interior">
                  <img ng-src="{{file.url}}" ng-show="file != null" />
                  <div
                    class="del"
                    ng-show="file != null"
                    ng-click="removeFile('files_interior', $index)"
                  ></div>
                </div>
              </div>
            </div>
          </div>

          <button ng-click="send()">SEND</button>
        </div>
      </section>

      <section class="cookies-dezai">
        <div class="container">
          <div class="txt">
            By continuing to use your personal account, you agree to the
            personal data and cookie policy.
          </div>
          <div class="accept">Accept</div>
        </div>
      </section>
    </div>
    <footer>
      <div class="container">
        <div class="left">
          <a href="/" class="logo"></a>
          <div class="copy">©2018, Rerooms</div>
        </div>

        <div class="middle">
          Got questions?
          <a href="#">Report a problem</a>
        </div>

        <div class="right">
          <div class="soc-links">
            <a href="https://facebook.com/thedezai/" class="fb"></a>
            <a href="https://instagram.com/the.dezai" class="in"></a>
          </div>
          <a href="tel:01157380007" class="phone">01157380007</a>
        </div>
      </div>
    </footer>
  </body>
</html>
