section.step-brief-1 {
  padding: 65px 0;
}
section.step-brief-1 .container {
  width: 915px;
  padding: 0;
}
section.step-brief-1 .container .step-head-hor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 64px;
}
section.step-brief-1 .container .step-head-hor .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
section.step-brief-1 .container .step-head-hor .left .ico {
  margin-right: 24px;
  background-image: url(/app/img/step-brief-1/brief.svg);
  background-size: 46px 50px;
  background-repeat: no-repeat;
  background-position: center;
}
section.step-brief-1 .container .step-head-hor .left .about .title {
  margin-bottom: 13px;
  font: 32px "MONM";
}
section.step-brief-1 .container .step-head-hor .left .about .subtitle {
  font: 16px "MONR";
  color: #7D7978;
}
section.step-brief-1 .container .question {
  margin-bottom: 32px;
  border-radius: 8px;
  padding: 30px 32px;
  background-color: #FAF7F6;
}
section.step-brief-1 .container .question .question-name {
  margin-bottom: 28px;
  font: 22px "MONM";
}
section.step-brief-1 .container .question .question-subname {
  margin: -21px 0 31px;
  font: 13px "MONR";
  color: #7D7978;
}
section.step-brief-1 .container .question input[type=text] {
  border: 1px solid #D3CAC3;
  border-radius: 8px;
  height: 49px;
  padding: 2px 0 0 14px;
  font: 16px "MONM";
}
section.step-brief-1 .container .question input[type=text]:focus {
  border: 1px solid #FF7300;
}
section.step-brief-1 .container .question .btns-yes-no button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #D3CAC3;
  border-radius: 8px;
  width: 95px;
  height: 49px;
  font: 16px "MONM";
  background-color: #fff;
  cursor: pointer;
}
section.step-brief-1 .container .question .btns-yes-no button.active {
  border: 2px solid #FF7300;
  background-color: #FFE6D1;
}
section.step-brief-1 .container .question .btns-yes-no button:first-child {
  margin-right: 10px;
}
section.step-brief-1 .container .question .simple-checkboxes,
section.step-brief-1 .container .question .simple-radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
section.step-brief-1 .container .question .simple-checkboxes .checkbox-item,
section.step-brief-1 .container .question .simple-checkboxes .radio-item,
section.step-brief-1 .container .question .simple-radios .checkbox-item,
section.step-brief-1 .container .question .simple-radios .radio-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: calc((100% - 20px) / 3);
  -ms-flex: calc((100% - 20px) / 3) 0 0px;
  flex: calc((100% - 20px) / 3) 0 0;
  margin-bottom: 10px;
}
section.step-brief-1 .container .question .simple-checkboxes .checkbox-item:not(:nth-child(3n+3)),
section.step-brief-1 .container .question .simple-checkboxes .radio-item:not(:nth-child(3n+3)),
section.step-brief-1 .container .question .simple-radios .checkbox-item:not(:nth-child(3n+3)),
section.step-brief-1 .container .question .simple-radios .radio-item:not(:nth-child(3n+3)) {
  margin-right: 10px;
}
section.step-brief-1 .container .question .simple-checkboxes .checkbox-item input[type=checkbox],
section.step-brief-1 .container .question .simple-checkboxes .checkbox-item input[type=radio],
section.step-brief-1 .container .question .simple-checkboxes .radio-item input[type=checkbox],
section.step-brief-1 .container .question .simple-checkboxes .radio-item input[type=radio],
section.step-brief-1 .container .question .simple-radios .checkbox-item input[type=checkbox],
section.step-brief-1 .container .question .simple-radios .checkbox-item input[type=radio],
section.step-brief-1 .container .question .simple-radios .radio-item input[type=checkbox],
section.step-brief-1 .container .question .simple-radios .radio-item input[type=radio] {
  display: none;
}
section.step-brief-1 .container .question .simple-checkboxes .checkbox-item label,
section.step-brief-1 .container .question .simple-checkboxes .radio-item label,
section.step-brief-1 .container .question .simple-radios .checkbox-item label,
section.step-brief-1 .container .question .simple-radios .radio-item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #D3CAC3;
  border-radius: 8px;
  width: 100%;
  height: 49px;
  font: 16px/18px "MONM";
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}
section.step-brief-1 .container .question .simple-checkboxes .checkbox-item input[type=checkbox]:checked ~ label,
section.step-brief-1 .container .question .simple-checkboxes .checkbox-item input[type=checkbox][checked=checked] ~ label,
section.step-brief-1 .container .question .simple-checkboxes .checkbox-item input[type=radio]:checked ~ label,
section.step-brief-1 .container .question .simple-checkboxes .checkbox-item input[type=radio][checked=checked] ~ label,
section.step-brief-1 .container .question .simple-checkboxes .radio-item input[type=checkbox]:checked ~ label,
section.step-brief-1 .container .question .simple-checkboxes .radio-item input[type=checkbox][checked=checked] ~ label,
section.step-brief-1 .container .question .simple-checkboxes .radio-item input[type=radio]:checked ~ label,
section.step-brief-1 .container .question .simple-checkboxes .radio-item input[type=radio][checked=checked] ~ label,
section.step-brief-1 .container .question .simple-radios .checkbox-item input[type=checkbox]:checked ~ label,
section.step-brief-1 .container .question .simple-radios .checkbox-item input[type=checkbox][checked=checked] ~ label,
section.step-brief-1 .container .question .simple-radios .checkbox-item input[type=radio]:checked ~ label,
section.step-brief-1 .container .question .simple-radios .checkbox-item input[type=radio][checked=checked] ~ label,
section.step-brief-1 .container .question .simple-radios .radio-item input[type=checkbox]:checked ~ label,
section.step-brief-1 .container .question .simple-radios .radio-item input[type=checkbox][checked=checked] ~ label,
section.step-brief-1 .container .question .simple-radios .radio-item input[type=radio]:checked ~ label,
section.step-brief-1 .container .question .simple-radios .radio-item input[type=radio][checked=checked] ~ label {
  border: 2px solid #FF7300;
  background: #FFE6D1;
}
section.step-brief-1 .container .question .checkboxes-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
section.step-brief-1 .container .question .checkboxes-img .checkbox-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: calc((100% - 20px) / 3);
  -ms-flex: calc((100% - 20px) / 3) 0 0px;
  flex: calc((100% - 20px) / 3) 0 0;
  margin-bottom: 32px;
}
section.step-brief-1 .container .question .checkboxes-img .checkbox-item:not(:nth-child(3n+3)) {
  margin-right: 10px;
}
section.step-brief-1 .container .question .checkboxes-img .checkbox-item input[type=checkbox] {
  display: none;
}
section.step-brief-1 .container .question .checkboxes-img .checkbox-item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  border: 1px solid #D3CAC3;
  border-radius: 5px;
  padding: 9px 9px 0 9px;
  width: 100%;
  height: 180px;
  background-color: #fff;
  cursor: pointer;
}
section.step-brief-1 .container .question .checkboxes-img .checkbox-item label img {
  display: block;
  margin-bottom: 16px;
  width: 100%;
  height: 122px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 8px;
  overflow: hidden;
}
section.step-brief-1 .container .question .checkboxes-img .checkbox-item label .name {
  position: relative;
  padding-left: 31px;
  font: 16px/18px "MONM";
}
section.step-brief-1 .container .question .checkboxes-img .checkbox-item label .name::after {
  content: "";
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 0;
  left: 6px;
  border: 1px solid #D3CAC3;
  border-radius: 4px;
  width: 16px;
  height: 16px;
}
section.step-brief-1 .container .question .checkboxes-img .checkbox-item label.designer {
  padding-top: 99px;
  background-image: url("/app/img/step-brief-1/designer_consult.svg");
  background-size: 41px 40px;
  background-repeat: no-repeat;
  background-position: center top 35px;
}
section.step-brief-1 .container .question .checkboxes-img .checkbox-item label.designer .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}
section.step-brief-1 .container .question .checkboxes-img .checkbox-item label.designer .name::after {
  top: 48px;
  left: calc(50% - 8px);
}
section.step-brief-1 .container .question .checkboxes-img .checkbox-item label.disabled {
  opacity: 0.4;
  cursor: default;
}
section.step-brief-1 .container .question .checkboxes-img .checkbox-item input[type=checkbox]:checked ~ label::after,
section.step-brief-1 .container .question .checkboxes-img .checkbox-item input[type=checkbox][checked=checked] ~ label::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid #FF7300;
  border-radius: 5px;
}
section.step-brief-1 .container .question .checkboxes-img .checkbox-item input[type=checkbox]:checked ~ label .name::after,
section.step-brief-1 .container .question .checkboxes-img .checkbox-item input[type=checkbox][checked=checked] ~ label .name::after {
  border: 1px solid #FF7300;
  background-color: #FF7300;
  background-image: url("/app/img/step-brief-1/check.svg");
  background-size: 8px 5px;
  background-repeat: no-repeat;
  background-position: center;
}
section.step-brief-1 .container .question .add-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 22px;
  padding-left: 29px;
  font: 16px "MONM";
  background-image: url("/app/img/step-brief-1/plus.svg");
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: left center;
}
section.step-brief-1 .container .question .comment-name {
  margin: 21px 0 10px;
  font: 16px "MONM";
}
section.step-brief-1 .container .question .comment-name.red {
  color: #f00;
}
section.step-brief-1 .container .question textarea {
  border: 1px solid #D3CAC3;
  border-radius: 5px;
  padding: 12px 16px;
  width: 100%;
  height: 80px;
  font: 16px/24px "MONR";
}
section.step-brief-1 .container .question textarea.margin-top {
  margin-top: 34px;
}
section.step-brief-1 .container .question .add-files {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}
section.step-brief-1 .container .question .add-files .input-field {
  margin-right: 31px;
}
section.step-brief-1 .container .question .add-files .input-field input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
section.step-brief-1 .container .question .add-files .input-field .add {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 16px;
  padding-left: 61px;
  border: 1.5px solid #3A3029;
  border-radius: 20px;
  height: 40px;
  padding: 0 36px 0 61px;
  background-image: url("/app/img/step-1/upload-bold.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: left 31px center;
  font: 13px "MONR";
  white-space: nowrap;
  cursor: pointer;
}
section.step-brief-1 .container .question .add-files .samples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
section.step-brief-1 .container .question .add-files .samples .sample {
  position: relative;
  -webkit-box-flex: 90px;
  -ms-flex: 90px 0 0px;
  flex: 90px 0 0;
  height: 90px;
  margin-right: 16px;
  margin-bottom: 16px;
}
section.step-brief-1 .container .question .add-files .samples .sample img {
  display: block;
  border-radius: 7px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
section.step-brief-1 .container .question .add-files .samples .sample .del {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("/app/img/step-brief-1/remove.svg");
  cursor: pointer;
}
section.step-brief-1 .container .question-furniture .room {
  margin-bottom: 20px;
}
section.step-brief-1 .container .question-furniture .room .select-room span.select-room-title {
  display: block;
  margin-bottom: 10px;
  font: 16px "MONM";
}
section.step-brief-1 .container .question-furniture .room .select-room select {
  height: 49px;
}
section.step-brief-1 .container .question-furniture .room .select-room .select2-container {
  margin-bottom: 32px;
  width: 280px !important;
}
section.step-brief-1 .container .question-furniture .room .select-room .select2-container .select2-selection {
  height: 49px;
  border: 1.5px solid #D8D6D4;
  border-radius: 4px;
}
section.step-brief-1 .container .question-furniture .room .select-room .select2-container .select2-selection .select2-selection__rendered {
  padding-left: 22px !important;
  font: 14px/45px "MONM";
}
section.step-brief-1 .container .question-furniture .room .select-room .select2-container .select2-selection .select2-selection__rendered span {
  margin-left: 17px;
  font: 14px "MUSR";
  color: #aaa;
}
section.step-brief-1 .container .question-furniture .room .select-room .select2-container .select2-selection .select2-selection__arrow {
  position: absolute;
  top: 0;
  right: 0;
  height: 49px;
  padding: 0 36px;
  background-image: url("/app/img/shared/select-arrow.svg");
  background-size: 14px 8px;
  background-position: center;
  background-repeat: no-repeat;
}
section.step-brief-1 .container .question-furniture .room .select-room .select2-container .select2-selection .select2-selection__arrow b {
  display: none;
}
section.step-brief-1 .container .question-furniture textarea {
  margin-top: 31px;
}
section.step-brief-1 .container .question-number-people input[type=text] {
  width: 129px;
}
section.step-brief-1 .container .question-children .childrens {
  margin-top: 24px;
}
section.step-brief-1 .container .question-children .childrens .children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 23px;
}
section.step-brief-1 .container .question-children .childrens .children .children-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 16px;
  border: 1px solid #D3CAC3;
  padding: 0 31px;
  background-color: #fff;
  border-radius: 4px;
  height: 60px;
}
section.step-brief-1 .container .question-children .childrens .children .children-inner input[type=radio] {
  display: none;
}
section.step-brief-1 .container .question-children .childrens .children .children-inner label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-right: 32px;
  padding-left: 23px;
  font: 16px "MONM";
  cursor: pointer;
}
section.step-brief-1 .container .question-children .childrens .children .children-inner label::after {
  content: "";
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 1.5px solid #D8D6D4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
section.step-brief-1 .container .question-children .childrens .children .children-inner input[type=radio][checked=checked] + label::after,
section.step-brief-1 .container .question-children .childrens .children .children-inner input[type=radio]:checked + label::after {
  border: 4px solid #FF7300;
}
section.step-brief-1 .container .question-children .childrens .children .children-inner input[type=text] {
  margin-right: 9px;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}
section.step-brief-1 .container .question-children .childrens .children .remove {
  -webkit-box-flex: 20px;
  -ms-flex: 20px 0 0px;
  flex: 20px 0 0;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url("/app/img/step-brief-1/remove.svg");
  cursor: pointer;
}
section.step-brief-1 .container .question-furniture-inc .upload-desc {
  margin: 10px 0 10px;
  font: 13px "MONR";
  color: #7D7978;
}
section.step-brief-1 .container .question-email input[type=text],
section.step-brief-1 .container .question-phone input[type=text] {
  width: 460px;
}